/* line 6, src/scss/_shared/_common.scss */
.p-banking .h-deposit__title {
  padding-bottom: 60px;
}

/* line 11, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

/* line 16, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-item:last-of-type {
  padding-bottom: 60px;
}

/* line 21, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-item > div:nth-of-type(1) {
  width: 80px;
}

/* line 25, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-item > div:nth-of-type(2) {
  width: 100%;
  max-width: -webkit-calc(100% - 80px);
  max-width: calc(100% - 80px);
}

/* line 32, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-circle {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #F3323D;
}

/* line 42, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-circle svg {
  width: 20px;
  height: 26px;
}

/* line 48, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list p {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/* line 56, src/scss/_shared/_common.scss */
.p-banking .h-deposit__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 278px;
  height: 64px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #E30813;
  text-align: center;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 73, src/scss/_shared/_common.scss */
.p-banking .h-deposit__btn:hover {
  background-color: rgba(227, 8, 19, 0.9);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_details.scss */
.b-details {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

/* line 12, src/scss/_components/_details.scss */
.b-details .c-grid {
  max-width: 1350px;
}

/* line 16, src/scss/_components/_details.scss */
.b-details__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 20, src/scss/_components/_details.scss */
.b-details__wrapper-left, .b-details__wrapper-right {
  width: 50%;
}

/* line 26, src/scss/_components/_details.scss */
.b-details__title {
  padding-bottom: 75px;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1;
}

/* line 35, src/scss/_components/_details.scss */
.b-details__text {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 22px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.45455;
}

/* line 43, src/scss/_components/_details.scss */
.b-details__list {
  padding-left: 140px;
}

/* line 46, src/scss/_components/_details.scss */
.b-details__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

/* line 51, src/scss/_components/_details.scss */
.b-details__list-item:last-of-type {
  padding-bottom: 0;
}

/* line 55, src/scss/_components/_details.scss */
.b-details__list-item span {
  opacity: 0.5;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/* line 63, src/scss/_components/_details.scss */
.b-details__list-item p {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/*# sourceMappingURL=maps/app.css.map */
