/* line 6, src/scss/_shared/_common.scss */
.p-banking .h-deposit__title {
  padding-bottom: 60px;
}

/* line 11, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

/* line 16, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-item:last-of-type {
  padding-bottom: 60px;
}

/* line 21, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-item > div:nth-of-type(1) {
  width: 80px;
}

/* line 25, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-item > div:nth-of-type(2) {
  width: 100%;
  max-width: -webkit-calc(100% - 80px);
  max-width: calc(100% - 80px);
}

/* line 32, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-circle {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background-color: #F3323D;
}

/* line 42, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list-circle svg {
  width: 20px;
  height: 26px;
}

/* line 48, src/scss/_shared/_common.scss */
.p-banking .h-deposit__list p {
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/* line 56, src/scss/_shared/_common.scss */
.p-banking .h-deposit__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 278px;
  height: 64px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #E30813;
  text-align: center;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 73, src/scss/_shared/_common.scss */
.p-banking .h-deposit__btn:hover {
  background-color: rgba(227, 8, 19, 0.9);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_details.scss */
.b-details {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
}

/* line 12, src/scss/_components/_details.scss */
.b-details .c-grid {
  max-width: 1350px;
}

/* line 16, src/scss/_components/_details.scss */
.b-details__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 20, src/scss/_components/_details.scss */
.b-details__wrapper-left, .b-details__wrapper-right {
  width: 50%;
}

/* line 26, src/scss/_components/_details.scss */
.b-details__title {
  padding-bottom: 75px;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1;
}

/* line 35, src/scss/_components/_details.scss */
.b-details__text {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 22px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.45455;
}

/* line 43, src/scss/_components/_details.scss */
.b-details__list {
  padding-left: 140px;
}

/* line 46, src/scss/_components/_details.scss */
.b-details__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 20px;
}

/* line 51, src/scss/_components/_details.scss */
.b-details__list-item:last-of-type {
  padding-bottom: 0;
}

/* line 55, src/scss/_components/_details.scss */
.b-details__list-item span {
  opacity: 0.5;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/* line 63, src/scss/_components/_details.scss */
.b-details__list-item p {
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/* line 3, src/scss/_components/_funding.scss */
.b-funding {
  position: relative;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f7f7f7;
}

/* line 10, src/scss/_components/_funding.scss */
.b-funding .c-grid {
  max-width: 1350px;
}

/* line 14, src/scss/_components/_funding.scss */
.b-funding__title {
  padding-bottom: 44px;
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1;
}

/* line 24, src/scss/_components/_funding.scss */
.b-funding__desc {
  width: 100%;
  max-width: 910px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 77px;
  text-align: center;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
}

/* line 37, src/scss/_components/_funding.scss */
.b-funding__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: -webkit-calc((100% - 48px) / 4);
  max-width: calc((100% - 48px) / 4);
  padding: 30px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.1);
}

/* line 48, src/scss/_components/_funding.scss */
.b-funding__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 13px;
}

/* line 54, src/scss/_components/_funding.scss */
.b-funding__block-title {
  padding-bottom: 28px;
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 1;
}

/* line 64, src/scss/_components/_funding.scss */
.b-funding__block-deposit {
  padding-bottom: 10px;
  opacity: 0.5;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 1;
}

/* line 75, src/scss/_components/_funding.scss */
.b-funding__block-min {
  padding-bottom: 10px;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 1;
}

/* line 86, src/scss/_components/_funding.scss */
.b-funding__block-max {
  min-height: 30px;
  padding-bottom: 10px;
  opacity: 0.5;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 1;
}

/* line 98, src/scss/_components/_funding.scss */
.b-funding__block-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 110px;
  padding-bottom: 30px;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
}

/* line 110, src/scss/_components/_funding.scss */
.b-funding__block-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  max-width: 101px;
  height: 40px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #e30813;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 127, src/scss/_components/_funding.scss */
.b-funding__block-btn:hover {
  background-color: rgba(227, 8, 19, 0.9);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 134, src/scss/_components/_funding.scss */
.b-funding__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.1);
}

/* line 145, src/scss/_components/_funding.scss */
.b-funding__box-left {
  width: 338px;
}

/* line 149, src/scss/_components/_funding.scss */
.b-funding__box-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: -webkit-calc(100% - 338px);
  max-width: calc(100% - 338px);
  height: 100%;
}

/* line 157, src/scss/_components/_funding.scss */
.b-funding__box-top, .b-funding__box-bottom {
  height: 50%;
}

/* line 162, src/scss/_components/_funding.scss */
.b-funding__box-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 9px;
}

/* line 166, src/scss/_components/_funding.scss */
.b-funding__box-top > div {
  width: 50%;
}

/* line 169, src/scss/_components/_funding.scss */
.b-funding__box-top > div p {
  text-align: left;
}

/* line 175, src/scss/_components/_funding.scss */
.b-funding__box-bottom {
  padding-top: 9px;
}

/* line 179, src/scss/_components/_funding.scss */
.b-funding__box-title {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1;
}

/* line 188, src/scss/_components/_funding.scss */
.b-funding__box-desc {
  opacity: 0.5;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
}

/* line 196, src/scss/_components/_funding.scss */
.b-funding__box-info {
  font-family: 'SF Pro Text', sans-serif;
  font-size: 16px;
  color: #000000;
  letter-spacing: 0;
}

/* line 203, src/scss/_components/_funding.scss */
.b-funding__box-btn {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: auto;
  height: 40px;
  padding: 5px 20px;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background-color: #e30813;
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 220, src/scss/_components/_funding.scss */
.b-funding__box-btn:hover {
  background-color: rgba(227, 8, 19, 0.9);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* line 3, src/scss/_components/_withdrawals.scss */
.b-withdrawals {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

/* line 8, src/scss/_components/_withdrawals.scss */
.b-withdrawals .c-grid {
  max-width: 890px;
}

/* line 12, src/scss/_components/_withdrawals.scss */
.b-withdrawals__title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 1;
}

/* line 22, src/scss/_components/_withdrawals.scss */
.b-withdrawals__desc {
  padding-bottom: 85px;
  text-align: center;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
}

/* line 32, src/scss/_components/_withdrawals.scss */
.b-withdrawals__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* line 36, src/scss/_components/_withdrawals.scss */
.b-withdrawals__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 40, src/scss/_components/_withdrawals.scss */
.b-withdrawals__list-item > div:nth-of-type(1) {
  width: 110px;
}

/* line 44, src/scss/_components/_withdrawals.scss */
.b-withdrawals__list-item > div:nth-of-type(2) {
  width: 100%;
  max-width: -webkit-calc(100% - 110px);
  max-width: calc(100% - 110px);
}

/* line 49, src/scss/_components/_withdrawals.scss */
.b-withdrawals__list-item > div p {
  padding-bottom: 50px;
  text-align: left;
}

/* line 55, src/scss/_components/_withdrawals.scss */
.b-withdrawals__list-item > div .icon-i-withdrawals-0 {
  width: 49px;
  height: 48px;
}

/* line 59, src/scss/_components/_withdrawals.scss */
.b-withdrawals__list-item > div .icon-i-withdrawals-1 {
  width: 50px;
  height: 41px;
}

/* line 63, src/scss/_components/_withdrawals.scss */
.b-withdrawals__list-item > div .icon-i-withdrawals-2 {
  width: 64px;
  height: 45px;
}

/* line 3, src/scss/_components/_security.scss */
.b-security {
  padding-top: 50px;
  padding-bottom: 100px;
}

/* line 7, src/scss/_components/_security.scss */
.b-security .c-grid {
  max-width: 1350px;
}

/* line 11, src/scss/_components/_security.scss */
.b-security__title {
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 80px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 1;
}

/* line 21, src/scss/_components/_security.scss */
.b-security__desc {
  width: 100%;
  max-width: 910px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  text-align: center;
  font-family: 'SF Pro Text', sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 24px;
}

/* line 35, src/scss/_components/_security.scss */
.b-security__block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 80px;
}

/* line 41, src/scss/_components/_security.scss */
.b-security__block:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 47, src/scss/_components/_security.scss */
.b-security__block--half {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: -webkit-calc((100% - 60px) / 2);
  max-width: calc((100% - 60px) / 2);
}

/* line 52, src/scss/_components/_security.scss */
.b-security__block--full {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 290px;
}

/* line 56, src/scss/_components/_security.scss */
.b-security__block--full .b-security__block-top {
  max-width: -webkit-calc(50% - 30px);
  max-width: calc(50% - 30px);
}

/* line 60, src/scss/_components/_security.scss */
.b-security__block--full .b-security__block-bottom {
  width: 100%;
  max-width: 100%;
}

/* line 65, src/scss/_components/_security.scss */
.b-security__block--full .b-security__block-top,
.b-security__block--full .b-security__block-bottom {
  width: 100%;
  height: 100%;
}

/* line 71, src/scss/_components/_security.scss */
.b-security__block--full .b-security__block-bottom {
  padding-left: 60px;
}

/* line 76, src/scss/_components/_security.scss */
.b-security__block-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 82, src/scss/_components/_security.scss */
.b-security__block-top {
  overflow: hidden;
  position: relative;
  min-height: 180px;
  margin-bottom: 30px;
}

/* line 88, src/scss/_components/_security.scss */
.b-security__block-top img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

/* line 102, src/scss/_components/_security.scss */
.b-security__block-title {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 32px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1;
}

/* line 111, src/scss/_components/_security.scss */
.b-security__block-text {
  font-family: "SF Pro Text", sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  line-height: 1.33333;
}

/* line 118, src/scss/_components/_security.scss */
.b-security__block-text--pb {
  padding-bottom: 30px;
}

/*# sourceMappingURL=maps/app.css.map */
