// SECTION details :: START

.b-details {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #fff;
  @include adaptive(767) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .c-grid {
    max-width: 1350px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @include adaptive(767) {
      flex-wrap: wrap;
    }

    &-left,
    &-right {
      width: 50%;
      @include adaptive(767) {
        width: 100%;
      }
    }
  }

  &__title {
    font-weight: bold;
    color: #000000;
    letter-spacing: 0;
    line-height: 1;
    @include fluid(padding-bottom, 320px, 1366px, 35px, 75px);
    @include fluid(font-size, 320px, 1366px, 40px, 80px);
  }

  &__text {
    font-family: 'SF Pro Text', sans-serif;
    color: #000000;
    letter-spacing: 0;
    line-height: line-height-convert(32,22);
    @include fluid(font-size, 320px, 1366px, 16px, 22px);
  }

  &__list {
    @include fluid(padding-left, 320px, 1366px, 0px, 140px);
    @include adaptive(767) {
      padding-top: 30px;
      padding-left: 0 !important;
    }

    &-item {
      display: flex;
      flex-direction: column;
      padding-bottom: 20px;

      &:last-of-type {
        padding-bottom: 0;
      }

      span {
        opacity: 0.5;
        font-family: 'SF Pro Text', sans-serif;
        color: #000000;
        letter-spacing: 0;
        @include fluid(font-size, 320px, 1366px, 14px, 18px);
      }

      p {
        font-family: 'SF Pro Text', sans-serif;
        font-weight: 600;
        color: #000000;
        letter-spacing: 0;
        @include fluid(font-size, 320px, 1366px, 14px, 18px);
      }
    }
  }
}

// SECTION details :: END