.icon-i-deposit&amp;w {
  width:(20)*1px;
  height:(26)*1px;
}
.icon-i-withdrawals-0 {
  width:(47)*1px;
  height:(41)*1px;
}
.icon-i-withdrawals-1 {
  width:(50)*1px;
  height:(41)*1px;
}
.icon-i-withdrawals-2 {
  width:(64)*1px;
  height:(45)*1px;
}
